<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" verbose="1" parallel="false">

    <listeners>
        <listener class-name="com.bmsoft.utilities.Listeners"/>
    </listeners>

    <test name="Test">
        <classes>
            <class name="com.bmsoft.tests.THome"/>
            <class name="com.bmsoft.tests.TBooks"/>
            <class name="com.bmsoft.tests.TFurniture"/>
            <class name="com.bmsoft.tests.TLeftNavigation"/>
            <class name="com.bmsoft.tests.TSearch"/>
        </classes>
    </test>
</suite>